body {
  background-color: #d5eeff;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: block;
  margin: 60px auto;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: white;
  padding: 8px 15px;
  max-width: 400px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

h1 {
  padding: 0 0 0 20px;
}

select {
  width: 91%;
  padding: 4px;
  border-radius: 5px;
  border-color: lightgray;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 16px 18px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
  padding: 0 0 18px 0;
}

.city:last-child {
  border: none;
}

.time-of-city {
  font-size: 40px;
  font-weight: bold;
  margin-top: 6px;
}

.meridiem-markers {
  font-size: 14px;
  vertical-align: middle;
}

h2 {
  margin: 0;
}

.date-of-city {
  opacity: 0.7;
}

.name-of-city {
  text-align: left;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  margin-top: -8px;
  text-align: center;
}
